<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="naver-site-verification" content="d47f4a54d208c8d9c878b030099416029a9f479b"/>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" type="text/css">

  <!-- Font -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css">
<!--  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>-->
<!--  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">-->
  <link href="{{ site.baseurl }}/assets/css/neodgm.css" rel="stylesheet">

  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" />

  <!-- tipuesearch -->
  <link rel="stylesheet" href="/assets/tipuesearch/css/tipuesearch.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/assets/tipuesearch/tipuesearch_content.js"></script>
  <script src="/assets/tipuesearch/tipuesearch_set.js"></script>
  <script src="/assets/tipuesearch/tipuesearch.min.js"></script>

  <!-- Favicon -->
  <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.ico" type="image/x-icon">


  {% include google-analytics.html %}

</head>
